:root {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

nav {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ccc;
  padding: 8px;
}

/* Link colors */
a {
  text-decoration: none;
  color: #385e96;
}

a:hover {
  color: hsl(216, 46%, 60%);
}

/* table */
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 4px 8px;
}

th {
  text-align: left;
}

/* Headings */
h1 {
  font-size: 36px;
  font-weight: 300;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

/* Images */
img {
  max-width: 100%;
}