---
layout: default
---

<div class="home">
  <link rel="stylesheet" href="/assets/css/home.css">

  <h1>DM Cave</h1>
  <h2>Quests</h2>

  {%- if site.wiki.size > 0 -%}
    <div class='card-container'>
      {%- for page in site.wiki -%}
      {%- if page.type == "quest" -%}
      {%- assign cover = page.cover } | default: "sample" -%}
        <a
          class="card"
          href="{{ page.url | relative_url }}">
          <img src='{{ "../assets/cards/" | append: cover | append: ".jpg" }}'/>
          <div class='darken'>
            <div>{{ page.title | escape }}</div>
          </div>
        </a>
      {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

  <h2>Weltmechaniken</h2>
  {%- if site.wiki.size > 0 -%}
    <div class='card-container'>
      {%- for page in site.wiki -%}
      {%- if page.type == "world" -%}
      <a
          class="card"
          href="{{ page.url | relative_url }}">
          <img src='{{ "../assets/cards/" | append: page.cover | append: ".jpg" }}'/>
          <div class='darken'>
            <div>{{ page.title | escape }}</div>
          </div>
        </a>
      {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}

  <h2>Links</h2>
  <ul>
    <li>
      <a href='https://arboretum360.herokuapp.com/'>Arboretum Kreaturenersteller</a>
    </li>
    <li>
      <a href='http://www.madmaik.de/download/rpgnamen.pdf'>Namensliste</a>
    </li>
  </ul>

</div>
