---
layout: wiki
---


<div>
  <link rel="stylesheet" href="/assets/css/spells.css">
  <div class='legend'>
    Legende:
    <span>🎯 Gezielter Spruch</span>,
    <span>✋ Berührung</span>,
    <span>👁️ Sichtweite</span>,
    <span>🎵️ Hörweite</span>,
    <span>🕸️ Speziell</span>,
    <span>⚡ Effekt</span>,
    <span>🕑 Wirkungsdauer</span>,
    <span>💀 Betroffene Wesen</span>,
    <span>📶 Reichweite</span>,
    <span>⬆️ Verstärkung</span>,
    <span>💎 Erweiterung</span>
  </div>

  {% assign lists = site.data.spells  | map: "liste" | uniq %}
  
  {% for l in lists %}
    <h2>{{ l }}</h2>
    <div>
      {% assign list = site.data.spells | where: "liste", l %}
      {% for spell in list %}
      <div>
        <div class='spellheader'>
          <div class='spellrank'>{{ spell.rang }}</div>
          <span class='spellname'>{{ spell.spruch }}</span>
          <span>{{ spell.hinweise | replace: 'Gezielt', '🎯' | replace: 'Berührung', '✋' | replace: 'Sichtweite', '👁️' | replace: 'Hörweite', '🎵' | ️replace: 'Speziell', '🕸️' }}</span>
        </div>
        <div class='desc'>{{ spell.beschreibung }}</div>
        <div class='add'>
          {% assign blacks = spell.schwarz1 | append: '#' | append: spell.schwarz2 | append: '#' | append: spell.schwarz3 | append: '#' | append: spell.schwarz4 | append: '#' | append: spell.schwarz5 | append: '#' | split: '#' %}
          {% assign reds = spell.rot1 | append: '#' | append: spell.rot2 | append: '#' | append: spell.rot3 | append: '#' | append: spell.rot4 | append: '#' | append: spell.rot5 | split: '#' %}
          {% for b in blacks %}
            {% if b %}
              <div class='black' >{{ b | replace: 'Effekt,', '⚡' | replace: 'Dauer,', '🕑' | replace: 'Betroffen,', '💀' | replace: 'Reichweite,', '📶'}} </div>
            {% endif %}
          {% endfor %}
          {% for r in reds %}
            {% if r %}
              <div class='red' >{{ r | replace: 'Verst,', '⬆️' | replace: 'Erw,', '💎' }} </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>
