---
layout: wiki
---


<div>
  {% assign lists = site.data.spells  | map: "liste" | uniq %}

  {% for l in lists %}
    <h2>{{ l }}</h2>
    <table>
      <tr>
        <th> Rang </th>
        <th> Spruch </th>
        <th> Beschreibung </th>
      </tr>
      {% assign list = site.data.spells | where: "liste", l %}
      {% for spell in list %}
      <tr>
        <td> {{ spell.rang }} </td>
        <td> {{ spell.spruch }} </td>
        <td> {{ spell.beschreibung }} </td>
      </tr>
    {% endfor %}
    </table>
  {% endfor %}
</div>
